<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1D88E5A7-B31B-4002-9DF7-2CCCE0761375</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yeru-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
