<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8CF88321-65A9-4D24-B60D-0E9003E1E37E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Elhook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.EnLeftHook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Enhook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gestrokehook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghemiddlehook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghemiddlehook-cy.titl</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hahook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Pemiddlehook-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
