<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>818B4724-524F-4051-B5F0-D6568D81E626</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
