<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4DE9B4C8-4ADD-4566-8263-23CA261E5A37</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
