<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AE27E2EA-42A8-4401-A6F2-5CED8C1B1BBB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.thetaSymbol</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
