<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA708887-CD4B-4572-B589-709CBECC082C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.case</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
