<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3B0CFAFC-CDF3-4308-8ECB-25C6A178E57B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
