<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>460F4D74-AC0E-4896-826E-32C4DB7E37AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Elhook-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
