<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>horncomb.case.O</key>
    <string>horncomb.case.O_.glif</string>
    <key>horncomb.o</key>
    <string>horncomb.o.glif</string>
  </dict>
</plist>
