<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DA585B9D-3D11-4215-AA0C-83DE430C9640</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pemiddlehook-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
