<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2C299CBB-D38E-4779-8FE8-0D589CCC6A6C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pemiddlehook-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
