<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8445E789-CB50-4058-8D71-1C7CCB6C210A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
