<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>68701DAD-AA83-46FE-8F4E-C6DDB76063F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pemiddlehook-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
