<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>94AC53E2-C53D-4782-B716-C760AFA55FB8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
