<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51186EE7-033A-4357-A92A-A7F32DD4F283</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
