<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F29A78CF-B2DC-43F4-B656-7A1ED811907B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
