<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E2038F10-4085-4A37-B24C-4C4DA64B0AE6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
