<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ED2D43A3-09D5-4CE9-A8E7-BCDAA508E235</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy.loclBGR</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
