<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D8B4595B-2F21-4068-8103-B3C6E7A69836</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
