<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>50F1263C-2B6E-4062-B57B-EE604E9F355F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
