<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8931975B-3A42-40EF-A6BE-E02EF5F0BB73</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
