<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F9AD1832-6724-434C-A3AE-F7C581ED7277</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
