<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C2C5E2B2-0A10-4B8D-9173-B9A1C0A826A8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Reversedze-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
