<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9C58EB4-740A-4575-BE47-D9FB0716520E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.literSign</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
