<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C3D1D436-9AE1-45F2-9D43-947CDBE26B54</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
