<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>345C4553-50CD-488E-993B-3DED78BB8A93</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ereversed-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
