<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BACD4F74-10DA-4F81-9196-D1C34F33AD05</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
