<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6DF57D4F-A428-40B1-880A-D2330C18321C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.Fita-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
