<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E4D65DD4-4F11-4FF7-A3A5-5E6BF46C102D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ertick-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
