<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2FC398F1-CA4E-41D9-B6FF-56EF58AE3B83</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
