<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>09D563EE-2E10-4F82-BC5F-116762E947D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzeabkhasian-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
