<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>72D245C0-9E99-41CC-B7BE-879D0809B464</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
