<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0B4FA377-CB03-4CAD-AD12-8A5DC1EC3E73</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.__tail-cy.case</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
