<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>23508CA0-EED0-42D7-85AB-EFB35F8F07A3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
