<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>201CE6AD-8211-4EEC-AB1A-B8C3E8050901</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
