<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>38AF87FD-6585-4769-A72A-8FC8B4273E70</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.cheabkhasian.case</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
