<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6F6334B2-106F-4F33-86A4-A9ED3EC9182C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhe-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
