<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CC9AC064-64D0-4AA9-8CA5-7A2C67E83500</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy.sc</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
