<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6970CF10-331D-431C-814C-4B8331EE8C13</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
