<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3BE541E7-0371-4D2F-9992-4575C5C7D6CE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
