<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7967BC65-483E-46CC-A55A-94C9AC99AAA9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sha-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
