<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3468114B-8DD1-4B3A-A684-54CC3255EF23</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
