<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>88363186-08F0-4926-8A02-30059F2EA91A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
