<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>82D9ABB9-9F47-44DE-83F4-7AF4CB9E417F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.won.black</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
