<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>872F190D-0359-4647-B8C6-E8D94C70B0A7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
