<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B7016F4-663A-495E-B50E-53EF414236AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
