<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>618DC270-B3E7-40AB-AAC7-DF1A06DBCCC3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
