<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E0025F99-2E73-4D6F-B9B4-CB233A9817DE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ia-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
