<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ED985D6D-BDB7-4079-8926-4B3C2F557D08</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.case</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
