<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6A3BC854-BB2F-41D7-B7C1-692BA5311A19</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.tugrik</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
