<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E2D018D-7ECA-4ECA-9F31-B8260D890335</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy.loclBGR</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
