<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1E280AC4-5BCF-4D98-911C-5308BFE01F01</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy.loclBGR</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
