<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4E537D8E-A124-4D29-915A-A5BEF5EF83F5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
