<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>26AB241E-9700-414C-9A1D-5E9C513C4A2F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzeabkhasian-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
