<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7B4ACDA6-989F-4E4F-93E6-29FF4C318733</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.descender-cy.case</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
