<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B08DDADF-343E-4FE3-A3EA-0E2E87D20D32</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
