<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>05BBEA9F-92C0-4922-88C1-3B092B1D074B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yat-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
