<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4E22F225-E6BF-493B-8774-39BF79CD74B9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.case</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.i</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
