<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3B3FCD92-E7FC-46D7-8173-06EBE1487A13</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy.sc</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
