<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5B5068F0-2904-4BAE-B232-B63B10287285</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
