<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3CD564C6-E4B0-4FEF-A1BB-0FD243F89FC3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.cheabkhasian</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
