<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C67B1BFE-04ED-4D79-B632-A5471BBE8B8D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
