<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F81C40C4-0BAD-48FE-A624-7B169F8F71A4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ertick-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
