<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91213DF7-1FA5-4FBA-A459-248F07EF9148</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
