<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>34F0E50E-F333-4FFD-80EA-6D75DDC61D28</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gheupturn-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
