<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A92CD406-A83A-4BF9-BCC9-BD419D4AD69D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Be-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
