<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AE88ED42-74B7-4A75-9069-96AB96DE6CEF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lje-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
