<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>66E1FB0C-D1AA-4074-9244-A48860EB40F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
