<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>860AA40A-0AD1-4CD9-8171-5A914F298FDC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
