<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DFF855E0-5BA9-4A58-A643-EFE7AB7E0A29</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ertick-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
