<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B0DFA8FD-9036-4F32-92F0-41003E48A6BD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kabashkir-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kabashkir-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kabashkir-cy.sc</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
