<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FB1A31A5-72B4-4D54-B9EC-540CCB4C72A3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.__descender-cy.straight.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
