<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AA45741C-CFDA-4471-8D84-5890B59A1795</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
