<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EF689647-A279-48CA-89FF-2F19734FDC70</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
