<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>752D2268-E8C9-4F0B-9E2E-F79B8B4D2487</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls.ss18</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
