<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>334B179C-27BF-439D-8D60-24BCA54AB5AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
