<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>99BDBDC7-6C6F-4041-8F36-509574369E95</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.thetaSymbol</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
