<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C8AD3CB7-A2F8-454D-BD1C-32F078D46400</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
