<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B129A247-2F54-4FB4-997F-9FF6411A012C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb.case</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
