<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ADE670AD-B6BE-4564-BE0E-EE689308C01E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ia-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
