<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B180F295-D766-48A7-AFBD-657A02923547</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
