<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>448B1CCF-3C72-48BD-9203-46DCDA89D368</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
