<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0DFCE97B-4E77-47C1-9FE7-327A4F1D5F37</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
