<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F37F96CE-C6FC-441B-ABB8-856CBF0F579C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzeabkhasian-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
