<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EE4B3420-BC77-4F6B-904B-F60ABE3D643C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.cheabkhasian</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
