<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CD3906DE-6308-4684-9DCC-0D307718320D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
