<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BECFD553-05B4-43E1-B56C-3F96717AB9C8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
