<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C31CD144-74C6-42BA-A1F5-75E68FFD506D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaverticalstroke-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
