<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F37F25A0-15A3-4C63-BB78-11EF0507CC14</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kabashkir-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
