<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3DBE5617-9AEA-4731-B5A8-A279ADFEFD59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
