<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Dec 19 17, 09:06</string>
      <string>glyphs.D_ec 19 17, 09_06</string>
    </array>
    <array>
      <string>Dec 19 17, 09:06.background</string>
      <string>glyphs.D_ec 19 17, 09_06.background</string>
    </array>
    <array>
      <string>Bold Aug 1 16, 22:49</string>
      <string>glyphs.B_old A_ug 1 16, 22_49</string>
    </array>
    <array>
      <string>Bold Aug 1 16, 22:49.background</string>
      <string>glyphs.B_old A_ug 1 16, 22_49.background</string>
    </array>
    <array>
      <string>Dec 19 17, 09:17</string>
      <string>glyphs.D_ec 19 17, 09_17</string>
    </array>
    <array>
      <string>Dec 19 17, 09:17.background</string>
      <string>glyphs.D_ec 19 17, 09_17.background</string>
    </array>
    <array>
      <string>Dec 16 16, 16:54</string>
      <string>glyphs.D_ec 16 16, 16_54</string>
    </array>
    <array>
      <string>Dec 16 16, 16:54.background</string>
      <string>glyphs.D_ec 16 16, 16_54.background</string>
    </array>
    <array>
      <string>Dec 20 16, 16:05</string>
      <string>glyphs.D_ec 20 16, 16_05</string>
    </array>
    <array>
      <string>Dec 20 16, 16:05.background</string>
      <string>glyphs.D_ec 20 16, 16_05.background</string>
    </array>
    <array>
      <string>Jan 20 17, 10:12</string>
      <string>glyphs.J_an 20 17, 10_12</string>
    </array>
    <array>
      <string>Jan 20 17, 10:12.background</string>
      <string>glyphs.J_an 20 17, 10_12.background</string>
    </array>
    <array>
      <string>Dec 21 16, 12:46</string>
      <string>glyphs.D_ec 21 16, 12_46</string>
    </array>
    <array>
      <string>Dec 21 16, 12:46.background</string>
      <string>glyphs.D_ec 21 16, 12_46.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:30</string>
      <string>glyphs.F_eb 28 17, 11_30</string>
    </array>
    <array>
      <string>Feb 28 17, 11:30.background</string>
      <string>glyphs.F_eb 28 17, 11_30.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:33</string>
      <string>glyphs.F_eb 28 17, 11_33</string>
    </array>
    <array>
      <string>Feb 28 17, 11:33.background</string>
      <string>glyphs.F_eb 28 17, 11_33.background</string>
    </array>
    <array>
      <string>Dec 16 16, 14:57</string>
      <string>glyphs.D_ec 16 16, 14_57</string>
    </array>
    <array>
      <string>Dec 16 16, 14:57.background</string>
      <string>glyphs.D_ec 16 16, 14_57.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:07</string>
      <string>glyphs.F_eb 28 17, 11_07</string>
    </array>
    <array>
      <string>Feb 28 17, 11:07.background</string>
      <string>glyphs.F_eb 28 17, 11_07.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:46</string>
      <string>glyphs.F_eb 28 17, 11_46</string>
    </array>
    <array>
      <string>Feb 28 17, 11:46.background</string>
      <string>glyphs.F_eb 28 17, 11_46.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:16</string>
      <string>glyphs.F_eb 28 17, 11_16</string>
    </array>
    <array>
      <string>Feb 28 17, 11:16.background</string>
      <string>glyphs.F_eb 28 17, 11_16.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:24</string>
      <string>glyphs.F_eb 28 17, 11_24</string>
    </array>
    <array>
      <string>Feb 28 17, 11:24.background</string>
      <string>glyphs.F_eb 28 17, 11_24.background</string>
    </array>
    <array>
      <string>Dec 16 16, 15:36</string>
      <string>glyphs.D_ec 16 16, 15_36</string>
    </array>
    <array>
      <string>Dec 16 16, 15:36.background</string>
      <string>glyphs.D_ec 16 16, 15_36.background</string>
    </array>
    <array>
      <string>Dec 12 16, 21:09</string>
      <string>glyphs.D_ec 12 16, 21_09</string>
    </array>
    <array>
      <string>Dec 12 16, 21:09.background</string>
      <string>glyphs.D_ec 12 16, 21_09.background</string>
    </array>
    <array>
      <string>Dec 14 16, 14:12</string>
      <string>glyphs.D_ec 14 16, 14_12</string>
    </array>
    <array>
      <string>Dec 14 16, 14:12.background</string>
      <string>glyphs.D_ec 14 16, 14_12.background</string>
    </array>
    <array>
      <string>Dec 20 16, 15:12</string>
      <string>glyphs.D_ec 20 16, 15_12</string>
    </array>
    <array>
      <string>Dec 20 16, 15:12.background</string>
      <string>glyphs.D_ec 20 16, 15_12.background</string>
    </array>
    <array>
      <string>Dec 16 16, 16:58</string>
      <string>glyphs.D_ec 16 16, 16_58</string>
    </array>
    <array>
      <string>Jan 5 17, 10:02</string>
      <string>glyphs.J_an 5 17, 10_02</string>
    </array>
    <array>
      <string>Jan 5 17, 10:02.background</string>
      <string>glyphs.J_an 5 17, 10_02.background</string>
    </array>
    <array>
      <string>Dec 21 16, 12:36</string>
      <string>glyphs.D_ec 21 16, 12_36</string>
    </array>
    <array>
      <string>Dec 21 16, 12:36.background</string>
      <string>glyphs.D_ec 21 16, 12_36.background</string>
    </array>
    <array>
      <string>Jan 5 17, 11:39</string>
      <string>glyphs.J_an 5 17, 11_39</string>
    </array>
    <array>
      <string>Jan 5 17, 11:39.background</string>
      <string>glyphs.J_an 5 17, 11_39.background</string>
    </array>
    <array>
      <string>Dec 21 16, 12:44</string>
      <string>glyphs.D_ec 21 16, 12_44</string>
    </array>
    <array>
      <string>Dec 21 16, 12:44.background</string>
      <string>glyphs.D_ec 21 16, 12_44.background</string>
    </array>
    <array>
      <string>Nov 30 16, 16:04</string>
      <string>glyphs.N_ov 30 16, 16_04</string>
    </array>
    <array>
      <string>Nov 30 16, 16:04.background</string>
      <string>glyphs.N_ov 30 16, 16_04.background</string>
    </array>
    <array>
      <string>Jan 5 17, 11:35</string>
      <string>glyphs.J_an 5 17, 11_35</string>
    </array>
    <array>
      <string>Jan 5 17, 11:35.background</string>
      <string>glyphs.J_an 5 17, 11_35.background</string>
    </array>
    <array>
      <string>Dec 1 16, 09:30</string>
      <string>glyphs.D_ec 1 16, 09_30</string>
    </array>
    <array>
      <string>Dec 1 16, 09:30.background</string>
      <string>glyphs.D_ec 1 16, 09_30.background</string>
    </array>
    <array>
      <string>Jan 20 17, 10:19</string>
      <string>glyphs.J_an 20 17, 10_19</string>
    </array>
    <array>
      <string>Jan 20 17, 10:19.background</string>
      <string>glyphs.J_an 20 17, 10_19.background</string>
    </array>
    <array>
      <string>Jan 20 17, 10:24</string>
      <string>glyphs.J_an 20 17, 10_24</string>
    </array>
    <array>
      <string>Jan 20 17, 10:24.background</string>
      <string>glyphs.J_an 20 17, 10_24.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:23</string>
      <string>glyphs.D_ec 1 16, 15_23</string>
    </array>
    <array>
      <string>Dec 1 16, 15:23.background</string>
      <string>glyphs.D_ec 1 16, 15_23.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:17</string>
      <string>glyphs.D_ec 16 16, 11_17</string>
    </array>
    <array>
      <string>Dec 16 16, 11:17.background</string>
      <string>glyphs.D_ec 16 16, 11_17.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:54</string>
      <string>glyphs.F_eb 28 17, 11_54</string>
    </array>
    <array>
      <string>Feb 28 17, 11:54.background</string>
      <string>glyphs.F_eb 28 17, 11_54.background</string>
    </array>
    <array>
      <string>Dec 16 16, 16:50</string>
      <string>glyphs.D_ec 16 16, 16_50</string>
    </array>
    <array>
      <string>Dec 16 16, 16:50.background</string>
      <string>glyphs.D_ec 16 16, 16_50.background</string>
    </array>
    <array>
      <string>Jan 5 17, 09:55</string>
      <string>glyphs.J_an 5 17, 09_55</string>
    </array>
    <array>
      <string>Jan 5 17, 09:55.background</string>
      <string>glyphs.J_an 5 17, 09_55.background</string>
    </array>
    <array>
      <string>Dec 1 16, 09:44</string>
      <string>glyphs.D_ec 1 16, 09_44</string>
    </array>
    <array>
      <string>Dec 1 16, 09:44.background</string>
      <string>glyphs.D_ec 1 16, 09_44.background</string>
    </array>
    <array>
      <string>Dec 16 16, 13:39</string>
      <string>glyphs.D_ec 16 16, 13_39</string>
    </array>
    <array>
      <string>Dec 16 16, 13:39.background</string>
      <string>glyphs.D_ec 16 16, 13_39.background</string>
    </array>
    <array>
      <string>Jan 5 17, 10:13</string>
      <string>glyphs.J_an 5 17, 10_13</string>
    </array>
    <array>
      <string>Jan 5 17, 10:13.background</string>
      <string>glyphs.J_an 5 17, 10_13.background</string>
    </array>
    <array>
      <string>Dec 1 16, 10:22</string>
      <string>glyphs.D_ec 1 16, 10_22</string>
    </array>
    <array>
      <string>Dec 1 16, 10:22.background</string>
      <string>glyphs.D_ec 1 16, 10_22.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:11</string>
      <string>glyphs.D_ec 16 16, 11_11</string>
    </array>
    <array>
      <string>Dec 16 16, 11:11.background</string>
      <string>glyphs.D_ec 16 16, 11_11.background</string>
    </array>
    <array>
      <string>Dec 1 16, 11:30</string>
      <string>glyphs.D_ec 1 16, 11_30</string>
    </array>
    <array>
      <string>Dec 1 16, 11:30.background</string>
      <string>glyphs.D_ec 1 16, 11_30.background</string>
    </array>
    <array>
      <string>Dec 16 16, 13:37</string>
      <string>glyphs.D_ec 16 16, 13_37</string>
    </array>
    <array>
      <string>Dec 16 16, 13:37.background</string>
      <string>glyphs.D_ec 16 16, 13_37.background</string>
    </array>
    <array>
      <string>Dec 1 16, 12:44</string>
      <string>glyphs.D_ec 1 16, 12_44</string>
    </array>
    <array>
      <string>Dec 1 16, 12:44.background</string>
      <string>glyphs.D_ec 1 16, 12_44.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:23</string>
      <string>glyphs.D_ec 16 16, 11_23</string>
    </array>
    <array>
      <string>Dec 16 16, 11:23.background</string>
      <string>glyphs.D_ec 16 16, 11_23.background</string>
    </array>
    <array>
      <string>Dec 1 16, 12:08</string>
      <string>glyphs.D_ec 1 16, 12_08</string>
    </array>
    <array>
      <string>Dec 1 16, 12:08.background</string>
      <string>glyphs.D_ec 1 16, 12_08.background</string>
    </array>
    <array>
      <string>Dec 1 16, 12:10</string>
      <string>glyphs.D_ec 1 16, 12_10</string>
    </array>
    <array>
      <string>Dec 1 16, 12:10.background</string>
      <string>glyphs.D_ec 1 16, 12_10.background</string>
    </array>
    <array>
      <string>Feb 28 17, 12:35</string>
      <string>glyphs.F_eb 28 17, 12_35</string>
    </array>
    <array>
      <string>Feb 28 17, 12:35.background</string>
      <string>glyphs.F_eb 28 17, 12_35.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:39</string>
      <string>glyphs.F_eb 28 17, 11_39</string>
    </array>
    <array>
      <string>Feb 28 17, 11:39.background</string>
      <string>glyphs.F_eb 28 17, 11_39.background</string>
    </array>
    <array>
      <string>Dec 16 16, 15:00</string>
      <string>glyphs.D_ec 16 16, 15_00</string>
    </array>
    <array>
      <string>Dec 16 16, 15:00.background</string>
      <string>glyphs.D_ec 16 16, 15_00.background</string>
    </array>
    <array>
      <string>Dec 1 16, 14:47</string>
      <string>glyphs.D_ec 1 16, 14_47</string>
    </array>
    <array>
      <string>Dec 1 16, 14:47.background</string>
      <string>glyphs.D_ec 1 16, 14_47.background</string>
    </array>
    <array>
      <string>Jan 20 17, 09:57</string>
      <string>glyphs.J_an 20 17, 09_57</string>
    </array>
    <array>
      <string>Jan 20 17, 09:57.background</string>
      <string>glyphs.J_an 20 17, 09_57.background</string>
    </array>
    <array>
      <string>Dec 1 16, 14:49</string>
      <string>glyphs.D_ec 1 16, 14_49</string>
    </array>
    <array>
      <string>Dec 1 16, 14:49.background</string>
      <string>glyphs.D_ec 1 16, 14_49.background</string>
    </array>
    <array>
      <string>Dec 1 16, 15:00</string>
      <string>glyphs.D_ec 1 16, 15_00</string>
    </array>
    <array>
      <string>Dec 1 16, 15:00.background</string>
      <string>glyphs.D_ec 1 16, 15_00.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:53</string>
      <string>glyphs.D_ec 16 16, 11_53</string>
    </array>
    <array>
      <string>Dec 16 16, 11:53.background</string>
      <string>glyphs.D_ec 16 16, 11_53.background</string>
    </array>
    <array>
      <string>Dec 16 16, 13:22</string>
      <string>glyphs.D_ec 16 16, 13_22</string>
    </array>
    <array>
      <string>Dec 16 16, 13:22.background</string>
      <string>glyphs.D_ec 16 16, 13_22.background</string>
    </array>
    <array>
      <string>Feb 28 17, 12:01</string>
      <string>glyphs.F_eb 28 17, 12_01</string>
    </array>
    <array>
      <string>Feb 28 17, 12:01.background</string>
      <string>glyphs.F_eb 28 17, 12_01.background</string>
    </array>
    <array>
      <string>Feb 28 17, 12:10</string>
      <string>glyphs.F_eb 28 17, 12_10</string>
    </array>
    <array>
      <string>Jan 5 17, 10:29</string>
      <string>glyphs.J_an 5 17, 10_29</string>
    </array>
    <array>
      <string>Jan 5 17, 10:29.background</string>
      <string>glyphs.J_an 5 17, 10_29.background</string>
    </array>
    <array>
      <string>Jan 20 17, 10:30</string>
      <string>glyphs.J_an 20 17, 10_30</string>
    </array>
    <array>
      <string>Jan 20 17, 10:30.background</string>
      <string>glyphs.J_an 20 17, 10_30.background</string>
    </array>
    <array>
      <string>Jan 20 17, 10:31</string>
      <string>glyphs.J_an 20 17, 10_31</string>
    </array>
    <array>
      <string>Jan 20 17, 10:31.background</string>
      <string>glyphs.J_an 20 17, 10_31.background</string>
    </array>
    <array>
      <string>Jan 5 17, 11:22</string>
      <string>glyphs.J_an 5 17, 11_22</string>
    </array>
    <array>
      <string>Jan 5 17, 11:16</string>
      <string>glyphs.J_an 5 17, 11_16</string>
    </array>
    <array>
      <string>Jan 5 17, 11:16.background</string>
      <string>glyphs.J_an 5 17, 11_16.background</string>
    </array>
    <array>
      <string>Dec 1 16, 12:05</string>
      <string>glyphs.D_ec 1 16, 12_05</string>
    </array>
    <array>
      <string>Dec 1 16, 12:05.background</string>
      <string>glyphs.D_ec 1 16, 12_05.background</string>
    </array>
    <array>
      <string>Dec 16 16, 13:27</string>
      <string>glyphs.D_ec 16 16, 13_27</string>
    </array>
    <array>
      <string>Dec 16 16, 13:27.background</string>
      <string>glyphs.D_ec 16 16, 13_27.background</string>
    </array>
    <array>
      <string>Jan 5 17, 10:39</string>
      <string>glyphs.J_an 5 17, 10_39</string>
    </array>
    <array>
      <string>Jan 5 17, 10:39.background</string>
      <string>glyphs.J_an 5 17, 10_39.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:20</string>
      <string>glyphs.F_eb 28 17, 11_20</string>
    </array>
    <array>
      <string>Feb 28 17, 11:20.background</string>
      <string>glyphs.F_eb 28 17, 11_20.background</string>
    </array>
    <array>
      <string>Jan 20 17, 10:01</string>
      <string>glyphs.J_an 20 17, 10_01</string>
    </array>
    <array>
      <string>Jan 20 17, 10:01.background</string>
      <string>glyphs.J_an 20 17, 10_01.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:23</string>
      <string>glyphs.F_eb 28 17, 11_23</string>
    </array>
    <array>
      <string>Jan 20 17, 09:53</string>
      <string>glyphs.J_an 20 17, 09_53</string>
    </array>
    <array>
      <string>Jan 20 17, 09:53.background</string>
      <string>glyphs.J_an 20 17, 09_53.background</string>
    </array>
    <array>
      <string>Dec 16 16, 16:39</string>
      <string>glyphs.D_ec 16 16, 16_39</string>
    </array>
    <array>
      <string>Dec 16 16, 16:39.background</string>
      <string>glyphs.D_ec 16 16, 16_39.background</string>
    </array>
    <array>
      <string>Dec 16 16, 15:30</string>
      <string>glyphs.D_ec 16 16, 15_30</string>
    </array>
    <array>
      <string>Dec 20 16, 15:13</string>
      <string>glyphs.D_ec 20 16, 15_13</string>
    </array>
    <array>
      <string>Dec 20 16, 15:13.background</string>
      <string>glyphs.D_ec 20 16, 15_13.background</string>
    </array>
    <array>
      <string>Dec 20 16, 22:32</string>
      <string>glyphs.D_ec 20 16, 22_32</string>
    </array>
    <array>
      <string>Dec 20 16, 22:38</string>
      <string>glyphs.D_ec 20 16, 22_38</string>
    </array>
    <array>
      <string>Dec 20 16, 22:38.background</string>
      <string>glyphs.D_ec 20 16, 22_38.background</string>
    </array>
    <array>
      <string>Feb 28 17, 12:38</string>
      <string>glyphs.F_eb 28 17, 12_38</string>
    </array>
    <array>
      <string>Feb 28 17, 12:38.background</string>
      <string>glyphs.F_eb 28 17, 12_38.background</string>
    </array>
    <array>
      <string>Dec 16 16, 15:06</string>
      <string>glyphs.D_ec 16 16, 15_06</string>
    </array>
    <array>
      <string>Jan 20 17, 09:52</string>
      <string>glyphs.J_an 20 17, 09_52</string>
    </array>
    <array>
      <string>Jan 20 17, 09:52.background</string>
      <string>glyphs.J_an 20 17, 09_52.background</string>
    </array>
    <array>
      <string>Dec 21 16, 13:02</string>
      <string>glyphs.D_ec 21 16, 13_02</string>
    </array>
    <array>
      <string>Dec 21 16, 13:02.background</string>
      <string>glyphs.D_ec 21 16, 13_02.background</string>
    </array>
    <array>
      <string>Dec 21 16, 12:23</string>
      <string>glyphs.D_ec 21 16, 12_23</string>
    </array>
    <array>
      <string>Jan 20 17, 09:09</string>
      <string>glyphs.J_an 20 17, 09_09</string>
    </array>
    <array>
      <string>Jan 20 17, 09:09.background</string>
      <string>glyphs.J_an 20 17, 09_09.background</string>
    </array>
    <array>
      <string>Dec 16 16, 16:45</string>
      <string>glyphs.D_ec 16 16, 16_45</string>
    </array>
    <array>
      <string>Dec 16 16, 16:45.background</string>
      <string>glyphs.D_ec 16 16, 16_45.background</string>
    </array>
    <array>
      <string>Dec 20 16, 16:08</string>
      <string>glyphs.D_ec 20 16, 16_08</string>
    </array>
    <array>
      <string>Dec 20 16, 16:08.background</string>
      <string>glyphs.D_ec 20 16, 16_08.background</string>
    </array>
    <array>
      <string>May 2 18, 09:34</string>
      <string>glyphs.M_ay 2 18, 09_34</string>
    </array>
    <array>
      <string>May 2 18, 09:34.background</string>
      <string>glyphs.M_ay 2 18, 09_34.background</string>
    </array>
    <array>
      <string>Bold Oct 13 15, 13:03</string>
      <string>glyphs.B_old O_ct 13 15, 13_03</string>
    </array>
    <array>
      <string>Bold Oct 13 15, 13:03.background</string>
      <string>glyphs.B_old O_ct 13 15, 13_03.background</string>
    </array>
    <array>
      <string>Bold Oct 13 15, 13:07</string>
      <string>glyphs.B_old O_ct 13 15, 13_07</string>
    </array>
    <array>
      <string>Bold Oct 13 15, 13:07.background</string>
      <string>glyphs.B_old O_ct 13 15, 13_07.background</string>
    </array>
    <array>
      <string>Bold Feb 17 15, 14:53</string>
      <string>glyphs.B_old F_eb 17 15, 14_53</string>
    </array>
    <array>
      <string>Bold Feb 17 15, 14:53.background</string>
      <string>glyphs.B_old F_eb 17 15, 14_53.background</string>
    </array>
    <array>
      <string>Nov 15 17, 21:01</string>
      <string>glyphs.N_ov 15 17, 21_01</string>
    </array>
    <array>
      <string>Nov 15 17, 21:01.background</string>
      <string>glyphs.N_ov 15 17, 21_01.background</string>
    </array>
    <array>
      <string>Bold Sep 12 14, 10:41</string>
      <string>glyphs.B_old S_ep 12 14, 10_41</string>
    </array>
    <array>
      <string>Bold Sep 12 14, 10:41.background</string>
      <string>glyphs.B_old S_ep 12 14, 10_41.background</string>
    </array>
    <array>
      <string>Mar 22 17, 13:53</string>
      <string>glyphs.M_ar 22 17, 13_53</string>
    </array>
    <array>
      <string>Mar 22 17, 13:53.background</string>
      <string>glyphs.M_ar 22 17, 13_53.background</string>
    </array>
    <array>
      <string>Dec 20 16, 22:58</string>
      <string>glyphs.D_ec 20 16, 22_58</string>
    </array>
    <array>
      <string>Dec 20 16, 22:56</string>
      <string>glyphs.D_ec 20 16, 22_56</string>
    </array>
    <array>
      <string>Dec 20 16, 22:56.background</string>
      <string>glyphs.D_ec 20 16, 22_56.background</string>
    </array>
    <array>
      <string>Dec 20 16, 23:13</string>
      <string>glyphs.D_ec 20 16, 23_13</string>
    </array>
    <array>
      <string>Jan 20 17, 16:46</string>
      <string>glyphs.J_an 20 17, 16_46</string>
    </array>
    <array>
      <string>Jan 20 17, 16:46.background</string>
      <string>glyphs.J_an 20 17, 16_46.background</string>
    </array>
    <array>
      <string>Dec 18 17, 14:48</string>
      <string>glyphs.D_ec 18 17, 14_48</string>
    </array>
    <array>
      <string>Dec 18 17, 14:48.background</string>
      <string>glyphs.D_ec 18 17, 14_48.background</string>
    </array>
    <array>
      <string>Dec 18 17, 11:47</string>
      <string>glyphs.D_ec 18 17, 11_47</string>
    </array>
    <array>
      <string>Dec 18 17, 11:52</string>
      <string>glyphs.D_ec 18 17, 11_52</string>
    </array>
    <array>
      <string>Dec 18 17, 14:21</string>
      <string>glyphs.D_ec 18 17, 14_21</string>
    </array>
    <array>
      <string>Dec 18 17, 14:21.background</string>
      <string>glyphs.D_ec 18 17, 14_21.background</string>
    </array>
    <array>
      <string>Dec 20 17, 11:29</string>
      <string>glyphs.D_ec 20 17, 11_29</string>
    </array>
    <array>
      <string>Dec 1 16, 11:39</string>
      <string>glyphs.D_ec 1 16, 11_39</string>
    </array>
    <array>
      <string>Dec 1 16, 11:39.background</string>
      <string>glyphs.D_ec 1 16, 11_39.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:34</string>
      <string>glyphs.D_ec 16 16, 11_34</string>
    </array>
    <array>
      <string>Dec 16 16, 11:34.background</string>
      <string>glyphs.D_ec 16 16, 11_34.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:49</string>
      <string>glyphs.D_ec 16 16, 11_49</string>
    </array>
    <array>
      <string>Dec 16 16, 11:49.background</string>
      <string>glyphs.D_ec 16 16, 11_49.background</string>
    </array>
    <array>
      <string>Jan 5 17, 11:51</string>
      <string>glyphs.J_an 5 17, 11_51</string>
    </array>
    <array>
      <string>Jan 5 17, 11:51.background</string>
      <string>glyphs.J_an 5 17, 11_51.background</string>
    </array>
    <array>
      <string>Dec 1 16, 11:44</string>
      <string>glyphs.D_ec 1 16, 11_44</string>
    </array>
    <array>
      <string>Dec 1 16, 11:44.background</string>
      <string>glyphs.D_ec 1 16, 11_44.background</string>
    </array>
    <array>
      <string>Dec 16 16, 11:48</string>
      <string>glyphs.D_ec 16 16, 11_48</string>
    </array>
    <array>
      <string>Dec 16 16, 11:48.background</string>
      <string>glyphs.D_ec 16 16, 11_48.background</string>
    </array>
    <array>
      <string>Jan 5 17, 11:54</string>
      <string>glyphs.J_an 5 17, 11_54</string>
    </array>
    <array>
      <string>Jan 5 17, 11:54.background</string>
      <string>glyphs.J_an 5 17, 11_54.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:22</string>
      <string>glyphs.F_eb 28 17, 11_22</string>
    </array>
    <array>
      <string>Feb 28 17, 11:22.background</string>
      <string>glyphs.F_eb 28 17, 11_22.background</string>
    </array>
    <array>
      <string>Dec 12 16, 14:22</string>
      <string>glyphs.D_ec 12 16, 14_22</string>
    </array>
    <array>
      <string>Dec 12 16, 14:22.background</string>
      <string>glyphs.D_ec 12 16, 14_22.background</string>
    </array>
    <array>
      <string>Dec 20 16, 15:51</string>
      <string>glyphs.D_ec 20 16, 15_51</string>
    </array>
    <array>
      <string>Dec 20 16, 15:51.background</string>
      <string>glyphs.D_ec 20 16, 15_51.background</string>
    </array>
    <array>
      <string>Dec 15 16, 12:21</string>
      <string>glyphs.D_ec 15 16, 12_21</string>
    </array>
    <array>
      <string>Dec 15 16, 12:51</string>
      <string>glyphs.D_ec 15 16, 12_51</string>
    </array>
    <array>
      <string>Dec 15 16, 12:51.background</string>
      <string>glyphs.D_ec 15 16, 12_51.background</string>
    </array>
    <array>
      <string>Dec 20 16, 15:36</string>
      <string>glyphs.D_ec 20 16, 15_36</string>
    </array>
    <array>
      <string>Dec 20 16, 15:36.background</string>
      <string>glyphs.D_ec 20 16, 15_36.background</string>
    </array>
    <array>
      <string>Jan 5 17, 09:59</string>
      <string>glyphs.J_an 5 17, 09_59</string>
    </array>
    <array>
      <string>Dec 20 16, 23:18</string>
      <string>glyphs.D_ec 20 16, 23_18</string>
    </array>
    <array>
      <string>Dec 20 16, 23:18.background</string>
      <string>glyphs.D_ec 20 16, 23_18.background</string>
    </array>
    <array>
      <string>Dec 16 16, 09:15</string>
      <string>glyphs.D_ec 16 16, 09_15</string>
    </array>
    <array>
      <string>Dec 16 16, 15:42</string>
      <string>glyphs.D_ec 16 16, 15_42</string>
    </array>
    <array>
      <string>Dec 16 16, 15:42.background</string>
      <string>glyphs.D_ec 16 16, 15_42.background</string>
    </array>
    <array>
      <string>Dec 20 16, 14:27</string>
      <string>glyphs.D_ec 20 16, 14_27</string>
    </array>
    <array>
      <string>Dec 20 16, 14:27.background</string>
      <string>glyphs.D_ec 20 16, 14_27.background</string>
    </array>
    <array>
      <string>Dec 20 16, 22:39</string>
      <string>glyphs.D_ec 20 16, 22_39</string>
    </array>
    <array>
      <string>Dec 20 16, 22:39.background</string>
      <string>glyphs.D_ec 20 16, 22_39.background</string>
    </array>
    <array>
      <string>Dec 20 16, 16:22</string>
      <string>glyphs.D_ec 20 16, 16_22</string>
    </array>
    <array>
      <string>Dec 20 16, 16:22.background</string>
      <string>glyphs.D_ec 20 16, 16_22.background</string>
    </array>
  </array>
</plist>
