<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2AA74869-ED3D-4254-88F9-C2A9981C92E0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.__tail-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
