<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2989B8DC-2B07-4AC8-8648-66C8D3F79DC2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
