<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51ECF602-D94B-45A5-8EE3-8B134438B527</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
