<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>94FB7C3B-B97E-4DB5-93D0-7F22E9765A87</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Elhook-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
