<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4ECE75FE-7E77-46A3-A96B-F651117EEBF2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
