<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0FA4E571-B75C-4BF0-8A50-964B493425C4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
