<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>46C3D3B4-7505-456F-9373-050551FA4C66</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.cheabkhasian</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
