<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2E940B6B-577C-4C7D-99A8-F1A1E63ABA7D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
