<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7F76685B-95B5-4D51-A0F8-EB889DE0F21A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
