<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>26A0434E-5BF4-449D-BE37-7E715FFCA5F4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
