<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>229A34FD-BA32-4A7D-9374-F2E8C4E34CCD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
