<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ECB202FA-FB6C-4C00-8D66-7122B1C35D8F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy.sc</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
