<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>105A1136-7F25-475A-A936-FD5F0E2B6D8B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kabashkir-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
