<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EAC7EBA0-00DB-408F-AF50-C042E5D88D25</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
