<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>206DFA1F-4930-473A-A1F2-52E6A1E9262B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
