<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C8584691-2AF0-415A-80CA-4DB315D387D6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
