<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0940FB7B-F446-4830-893B-7D57905F49EB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ertick-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
