<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>942B49E3-3E70-4BB7-AF0A-42D9C6DE3A93</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gheupturn-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
