<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C7A9141B-9A26-4DA3-8F26-4AC45A7081B9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb.case.O</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
