<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.ss01</key>
    <string>A_.ss01.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AdoubleStruck</key>
    <string>A_doubleS_truck.glif</string>
    <key>Aring.titl</key>
    <string>A_ring.titl.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>BdoubleStruck</key>
    <string>B_doubleS_truck.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>Beta</key>
    <string>B_eta.glif</string>
    <key>CdoubleStruck</key>
    <string>C_doubleS_truck.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>DdoubleStruck</key>
    <string>D_doubleS_truck.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>E.ss01</key>
    <string>E_.ss01.glif</string>
    <key>E.ss02</key>
    <string>E_.ss02.glif</string>
    <key>EdoubleStruck</key>
    <string>E_doubleS_truck.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eng.loclNSM</key>
    <string>E_ng.loclN_S_M_.glif</string>
    <key>Eng.titl</key>
    <string>E_ng.titl.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Epsilon</key>
    <string>E_psilon.glif</string>
    <key>Ereversed</key>
    <string>E_reversed.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Eta</key>
    <string>E_ta.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>GdoubleStruck</key>
    <string>G_doubleS_truck.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Ghemiddlehook-cy.titl</key>
    <string>G_hemiddlehook-cy.titl.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>HdoubleStruck</key>
    <string>H_doubleS_truck.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJ.titl</key>
    <string>I_J_.titl.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Ii-cy.loclBGR</key>
    <string>I_i-cy.loclB_G_R_.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Iota</key>
    <string>I_ota.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>J.titl</key>
    <string>J_.titl.glif</string>
    <key>JdoubleStruck</key>
    <string>J_doubleS_truck.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kappa</key>
    <string>K_appa.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>KdoubleStruck</key>
    <string>K_doubleS_truck.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>LdoubleStruck</key>
    <string>L_doubleS_truck.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>MdoubleStruck</key>
    <string>M_doubleS_truck.glif</string>
    <key>Mu</key>
    <string>M_u.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss01</key>
    <string>N_.ss01.glif</string>
    <key>NdoubleStruck</key>
    <string>N_doubleS_truck.glif</string>
    <key>Nhookleft</key>
    <string>N_hookleft.glif</string>
    <key>Nhookleft.ss01</key>
    <string>N_hookleft.ss01.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>Nu</key>
    <string>N_u.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OdoubleStruck</key>
    <string>O_doubleS_truck.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omicron</key>
    <string>O_micron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>PdoubleStruck</key>
    <string>P_doubleS_truck.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pemiddlehook-cy</key>
    <string>P_emiddlehook-cy.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss01</key>
    <string>Q_.ss01.glif</string>
    <key>QdoubleStruck</key>
    <string>Q_doubleS_truck.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.calt</key>
    <string>R_.calt.glif</string>
    <key>RdoubleStruck</key>
    <string>R_doubleS_truck.glif</string>
    <key>Reversedze-cy</key>
    <string>R_eversedze-cy.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>SdoubleStruck</key>
    <string>S_doubleS_truck.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_h</key>
    <string>T__h.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>TdoubleStruck</key>
    <string>T_doubleS_truck.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>UdoubleStruck</key>
    <string>U_doubleS_truck.glif</string>
    <key>UpsilonhookSymbol</key>
    <string>U_psilonhookS_ymbol.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>VdoubleStruck</key>
    <string>V_doubleS_truck.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>WdoubleStruck</key>
    <string>W_doubleS_truck.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>XdoubleStruck</key>
    <string>X_doubleS_truck.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>YdoubleStruck</key>
    <string>Y_doubleS_truck.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yi_Yi-cy.rlig</key>
    <string>Y_i_Y_i-cy.rlig.glif</string>
    <key>Yogh</key>
    <string>Y_ogh.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ZdoubleStruck</key>
    <string>Z_doubleS_truck.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zeta</key>
    <string>Z_eta.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>__Middlehook-cy</key>
    <string>__M_iddlehook-cy.glif</string>
    <key>__descender-cy.straight.case</key>
    <string>__descender-cy.straight.case.glif</string>
    <key>__part.numero</key>
    <string>__part.numero.glif</string>
    <key>__tail-cy</key>
    <string>__tail-cy.glif</string>
    <key>__tail-cy.case</key>
    <string>__tail-cy.case.glif</string>
    <key>_part.Dzhe-cy</key>
    <string>_part.D_zhe-cy.glif</string>
    <key>_part.Fita-cy</key>
    <string>_part.F_ita-cy.glif</string>
    <key>_part.Lslash.titl</key>
    <string>_part.L_slash.titl.glif</string>
    <key>_part.Qss02</key>
    <string>_part.Q_ss02.glif</string>
    <key>_part.ThetaSymbol</key>
    <string>_part.T_hetaS_ymbol.glif</string>
    <key>_part.cent.black</key>
    <string>_part.cent.black.glif</string>
    <key>_part.cheabkhasian</key>
    <string>_part.cheabkhasian.glif</string>
    <key>_part.cheabkhasian.case</key>
    <string>_part.cheabkhasian.case.glif</string>
    <key>_part.colonsign.black</key>
    <string>_part.colonsign.black.glif</string>
    <key>_part.dollar.black</key>
    <string>_part.dollar.black.glif</string>
    <key>_part.ertick-cy</key>
    <string>_part.ertick-cy.glif</string>
    <key>_part.fita-cy</key>
    <string>_part.fita-cy.glif</string>
    <key>_part.hook-cy</key>
    <string>_part.hook-cy.glif</string>
    <key>_part.hookleft</key>
    <string>_part.hookleft.glif</string>
    <key>_part.hookright</key>
    <string>_part.hookright.glif</string>
    <key>_part.peso.black</key>
    <string>_part.peso.black.glif</string>
    <key>_part.tugrik</key>
    <string>_part.tugrik.glif</string>
    <key>_part.won.black</key>
    <string>_part.won.black.glif</string>
    <key>_part.zhe</key>
    <string>_part.zhe.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.GREK</key>
    <string>acutecomb.G_R_E_K_.glif</string>
    <key>acutecomb.GREK.case</key>
    <string>acutecomb.G_R_E_K_.case.glif</string>
    <key>acutecomb.loclPLK</key>
    <string>acutecomb.loclP_L_K_.glif</string>
    <key>acutecomb.loclPLK.case</key>
    <string>acutecomb.loclP_L_K_.case.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>angle</key>
    <string>angle.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asteriskmath</key>
    <string>asteriskmath.glif</string>
    <key>asymptoticallyequal</key>
    <string>asymptoticallyequal.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bauch.comp</key>
    <string>bauch.comp.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>bottomcurlybracket</key>
    <string>bottomcurlybracket.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb.i</key>
    <string>brevecomb.i.glif</string>
    <key>brevecomb.i.case</key>
    <string>brevecomb.i.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_t</key>
    <string>c_t.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.i</key>
    <string>caroncomb.i.glif</string>
    <key>caroncomb.i.case</key>
    <string>caroncomb.i.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>circumflexcomb.i</key>
    <string>circumflexcomb.i.glif</string>
    <key>circumflexcomb.i.case</key>
    <string>circumflexcomb.i.case.glif</string>
    <key>colonequals</key>
    <string>colonequals.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>congruent</key>
    <string>congruent.glif</string>
    <key>contourintegral</key>
    <string>contourintegral.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dblgravecomb.i</key>
    <string>dblgravecomb.i.glif</string>
    <key>dblgravecomb.i.case</key>
    <string>dblgravecomb.i.case.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>deltaequalto</key>
    <string>deltaequalto.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>descender-cy.center</key>
    <string>descender-cy.center.glif</string>
    <key>descender-cy.center.001</key>
    <string>descender-cy.center.001.glif</string>
    <key>descender-cy.center.case</key>
    <string>descender-cy.center.case.glif</string>
    <key>descender-cy.left.case</key>
    <string>descender-cy.left.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divides</key>
    <string>divides.glif</string>
    <key>divorceSymbol</key>
    <string>divorceS_ymbol.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>doesnotdivide</key>
    <string>doesnotdivide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotmath</key>
    <string>dotmath.glif</string>
    <key>downAndUpArrow</key>
    <string>downA_ndU_pA_rrow.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>downBarbLeftHarpoon</key>
    <string>downB_arbL_eftH_arpoon.glif</string>
    <key>downBarbRightHarpoon</key>
    <string>downB_arbR_ightH_arpoon.glif</string>
    <key>downDoublePairedArrow</key>
    <string>downD_oubleP_airedA_rrow.glif</string>
    <key>downFrombarArrow</key>
    <string>downF_rombarA_rrow.glif</string>
    <key>downTipLeftArrow</key>
    <string>downT_ipL_eftA_rrow.glif</string>
    <key>downTipRightArrow</key>
    <string>downT_ipR_ightA_rrow.glif</string>
    <key>dram-arm</key>
    <string>dram-arm.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>elhook-cy</key>
    <string>elhook-cy.glif</string>
    <key>eltail-cy</key>
    <string>eltail-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>emtail-cy</key>
    <string>emtail-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>enhook-cy</key>
    <string>enhook-cy.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>entail-cy</key>
    <string>entail-cy.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>equivalence</key>
    <string>equivalence.glif</string>
    <key>ereversed</key>
    <string>ereversed.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>estimates</key>
    <string>estimates.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.calt</key>
    <string>f.calt.glif</string>
    <key>f_adieresis</key>
    <string>f_adieresis.glif</string>
    <key>f_f_j.liga</key>
    <string>f_f_j.liga.glif</string>
    <key>f_i_j.loclNLD</key>
    <string>f_i_j.loclN_L_D_.glif</string>
    <key>f_iacute_j.loclNLD</key>
    <string>f_iacute_j.loclN_L_D_.glif</string>
    <key>f_t_y</key>
    <string>f_t_y.glif</string>
    <key>f_udieresis</key>
    <string>f_udieresis.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.lf.ss14</key>
    <string>four.lf.ss14.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.ss14</key>
    <string>four.ss14.glif</string>
    <key>four.sups</key>
    <string>four.sups.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>four.tf.ss14</key>
    <string>four.tf.ss14.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>four.tosf.ss14</key>
    <string>four.tosf.ss14.glif</string>
    <key>foursuperior.ss14</key>
    <string>foursuperior.ss14.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.calt</key>
    <string>germandbls.calt.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>heavyCircle</key>
    <string>heavyC_ircle.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>horncomb.case.O</key>
    <string>horncomb.case.O_.glif</string>
    <key>horncomb.o</key>
    <string>horncomb.o.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hyphen.hist.case</key>
    <string>hyphen.hist.case.glif</string>
    <key>hyphenbullet</key>
    <string>hyphenbullet.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i_j.loclNLD</key>
    <string>i_j.loclN_L_D_.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>interrobang</key>
    <string>interrobang.glif</string>
    <key>intersection</key>
    <string>intersection.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.ss01</key>
    <string>j.ss01.glif</string>
    <key>jdotless.ss01</key>
    <string>jdotless.ss01.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>ka-cy.loclBGR</key>
    <string>ka-cy.loclB_G_R_.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kaiSymbol</key>
    <string>kaiS_ymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kappaSymbol</key>
    <string>kappaS_ymbol.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftBarbDownHarpoon</key>
    <string>leftB_arbD_ownH_arpoon.glif</string>
    <key>leftBarbUpHarpoon</key>
    <string>leftB_arbU_pH_arpoon.glif</string>
    <key>leftCeiling</key>
    <string>leftC_eiling.glif</string>
    <key>leftDoublePairedArrow</key>
    <string>leftD_oubleP_airedA_rrow.glif</string>
    <key>leftFloor</key>
    <string>leftF_loor.glif</string>
    <key>leftFrombarArrow</key>
    <string>leftF_rombarA_rrow.glif</string>
    <key>leftRepeatSign-musical</key>
    <string>leftR_epeatS_ign-musical.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>leftRightDoubleArrow</key>
    <string>leftR_ightD_oubleA_rrow.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>leftwhitecurlybracket</key>
    <string>leftwhitecurlybracket.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>logicaland</key>
    <string>logicaland.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>longs_h.liga</key>
    <string>longs_h.liga.glif</string>
    <key>longs_i.liga</key>
    <string>longs_i.liga.glif</string>
    <key>longs_k</key>
    <string>longs_k.glif</string>
    <key>longs_l</key>
    <string>longs_l.glif</string>
    <key>longs_longs.liga</key>
    <string>longs_longs.liga.glif</string>
    <key>longs_longs.liga.calt</key>
    <string>longs_longs.liga.calt.glif</string>
    <key>longs_t.liga</key>
    <string>longs_t.liga.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macroncomb.i</key>
    <string>macroncomb.i.glif</string>
    <key>macroncomb.i.case</key>
    <string>macroncomb.i.case.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>marriageSymbol</key>
    <string>marriageS_ymbol.glif</string>
    <key>measuredAngleOpeningLeft</key>
    <string>measuredA_ngleO_peningL_eft.glif</string>
    <key>measuredRightAngleWithDot</key>
    <string>measuredR_ightA_ngleW_ithD_ot.glif</string>
    <key>measuredangle</key>
    <string>measuredangle.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minusplus</key>
    <string>minusplus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>muchgreater</key>
    <string>muchgreater.glif</string>
    <key>muchless</key>
    <string>muchless.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nhookleft</key>
    <string>nhookleft.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>notalmostequalto</key>
    <string>notalmostequalto.glif</string>
    <key>notcontains</key>
    <string>notcontains.glif</string>
    <key>notelement</key>
    <string>notelement.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>notgreaternorequal</key>
    <string>notgreaternorequal.glif</string>
    <key>notidentical</key>
    <string>notidentical.glif</string>
    <key>notlessnorequal</key>
    <string>notlessnorequal.glif</string>
    <key>notparallel</key>
    <string>notparallel.glif</string>
    <key>notsimilar</key>
    <string>notsimilar.glif</string>
    <key>notsubset</key>
    <string>notsubset.glif</string>
    <key>notsuperset</key>
    <string>notsuperset.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.aiu</key>
    <string>ogonekcomb.aiu.glif</string>
    <key>ogonekcomb.baseline</key>
    <string>ogonekcomb.baseline.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>one.tosf.ss11</key>
    <string>one.tosf.ss11.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>orthogonal</key>
    <string>orthogonal.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>paragraph.sups</key>
    <string>paragraph.sups.glif</string>
    <key>paragraphreversed</key>
    <string>paragraphreversed.glif</string>
    <key>parallel.sups</key>
    <string>parallel.sups.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>pemiddlehook-cy</key>
    <string>pemiddlehook-cy.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>phiSymbol</key>
    <string>phiS_ymbol.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>piSymbol</key>
    <string>piS_ymbol.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.circled</key>
    <string>plus.circled.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>primeReversed</key>
    <string>primeR_eversed.glif</string>
    <key>proportional</key>
    <string>proportional.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ratio</key>
    <string>ratio.glif</string>
    <key>reflexsubset</key>
    <string>reflexsubset.glif</string>
    <key>reflexsuperset</key>
    <string>reflexsuperset.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>rhoSymbol</key>
    <string>rhoS_ymbol.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rightBarbUpHarpoon</key>
    <string>rightB_arbU_pH_arpoon.glif</string>
    <key>rightBarbdownHarpoon</key>
    <string>rightB_arbdownH_arpoon.glif</string>
    <key>rightDoubleArrow</key>
    <string>rightD_oubleA_rrow.glif</string>
    <key>rightDoublePairedArrow</key>
    <string>rightD_oubleP_airedA_rrow.glif</string>
    <key>rightFrombarArrow</key>
    <string>rightF_rombarA_rrow.glif</string>
    <key>rightOverLeftArrow</key>
    <string>rightO_verL_eftA_rrow.glif</string>
    <key>rightOverLeftHarpoon</key>
    <string>rightO_verL_eftH_arpoon.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringoperator</key>
    <string>ringoperator.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>schmuck</key>
    <string>schmuck.glif</string>
    <key>schulter.comp</key>
    <string>schulter.comp.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>setminus</key>
    <string>setminus.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.numr.ss17</key>
    <string>seven.numr.ss17.glif</string>
    <key>seven.ss17</key>
    <string>seven.ss17.glif</string>
    <key>seven.sups</key>
    <string>seven.sups.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>seven.tosf.ss17</key>
    <string>seven.tosf.ss17.glif</string>
    <key>sevensuperior.ss17</key>
    <string>sevensuperior.ss17.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sigmafinal</key>
    <string>sigmafinal.glif</string>
    <key>similar</key>
    <string>similar.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>sphericalangle</key>
    <string>sphericalangle.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>strictlyequivalentto</key>
    <string>strictlyequivalentto.glif</string>
    <key>subset</key>
    <string>subset.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>surfaceintegral</key>
    <string>surfaceintegral.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_y</key>
    <string>t_y.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tetse-cy</key>
    <string>tetse-cy.glif</string>
    <key>theredoesnotexist</key>
    <string>theredoesnotexist.glif</string>
    <key>thetaSymbol</key>
    <string>thetaS_ymbol.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.sups</key>
    <string>three.sups.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.i</key>
    <string>tildecomb.i.glif</string>
    <key>tildecomb.i.case</key>
    <string>tildecomb.i.case.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>topcurlybracket</key>
    <string>topcurlybracket.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>triangularbullet</key>
    <string>triangularbullet.glif</string>
    <key>tripleprime</key>
    <string>tripleprime.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>u-cy.calt</key>
    <string>u-cy.calt.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>undertie</key>
    <string>undertie.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upBarbLeftharpoon</key>
    <string>upB_arbL_eftharpoon.glif</string>
    <key>upBarbRightharpoon</key>
    <string>upB_arbR_ightharpoon.glif</string>
    <key>upDoublePairedArrow</key>
    <string>upD_oubleP_airedA_rrow.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
    <key>upFrombarArrow</key>
    <string>upF_rombarA_rrow.glif</string>
    <key>upTipLeftArrow</key>
    <string>upT_ipL_eftA_rrow.glif</string>
    <key>upTipRightArrow</key>
    <string>upT_ipR_ightA_rrow.glif</string>
    <key>upWhiteTriangle</key>
    <string>upW_hiteT_riangle.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
    <key>volumeintegral</key>
    <string>volumeintegral.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_w_w</key>
    <string>w_w_w.glif</string>
    <key>whiteDiamond</key>
    <string>whiteD_iamond.glif</string>
    <key>whiteSquare</key>
    <string>whiteS_quare.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.ss01</key>
    <string>x.ss01.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.ss01</key>
    <string>y.ss01.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yi_yi-cy.rlig</key>
    <string>yi_yi-cy.rlig.glif</string>
    <key>yogh</key>
    <string>yogh.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.ss01</key>
    <string>z.ss01.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.numr.zero</key>
    <string>zero.numr.zero.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
