<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B4CC3EFD-E38F-4202-9132-932A5799CE40</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
