<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E1B2691E-B290-4144-A0FE-D8F6B4F37453</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
