<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>66CC928D-BB13-413C-983A-E2990674EF14</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
