<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F4CE5A59-6278-436E-84FF-872116FABA61</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
