<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A7FDE389-ABE1-48C8-BEFA-DA9A4BE6791F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzeabkhasian-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
