<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>06BB68AD-640E-4B82-91CD-FC9A7B8CCC99</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.sc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy.sc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy.sc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nje-cy.sc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.sc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy.sc</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yeru-cy.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
