<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>__descender-cy.straight</key>
    <string>__descender-cy.straight.glif</string>
    <key>__descender-cy.straight.case</key>
    <string>__descender-cy.straight.case.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>descender-cy.center</key>
    <string>descender-cy.center.glif</string>
    <key>descender-cy.center.case</key>
    <string>descender-cy.center.case.glif</string>
  </dict>
</plist>
