<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5C8D1E1A-8459-4092-AB5F-2061D1E82CBA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
