<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>840671FE-ABF4-4F13-B414-85A18A662610</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yeru-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
