<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0D54E042-CC86-4E35-8639-286F95E24E38</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.Fita-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
