<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>47D67EE3-475B-49A7-9940-ADBA6E5B72D2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy.sc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
