<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>84080B36-DC1D-4A7D-93B4-57F2586A72D9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
