<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7746C9BB-79AC-4349-912C-CCA0B9E5D2EB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
