<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>43802928-5C4D-4EFC-97C6-B97207AB6EED</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy.loclBGR.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
