<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>98EEE878-E9CD-4F5F-A3D3-9F34000BBB9E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gheupturn-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
