<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D20064EE-DF5A-4D3F-8C97-76D621286813</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
