<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7EE442B6-916A-4639-B5C9-7E66A5572F4F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
