<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6B57324E-741A-491E-86AF-2044E5C550F1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
