<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B149C0EA-C13B-41C5-9704-8C84018C30B4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb.o</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
