<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C9A40FFF-0FE1-46C5-A222-554D0D08B597</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
