<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.won</key>
    <string>_part.won.glif</string>
    <key>_part.won.black</key>
    <string>_part.won.black.glif</string>
  </dict>
</plist>
