<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D1FB7040-D737-4EA1-AFB3-89F55E676E4F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f_i</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
